<!-- Header start -->
<include file="Public/Header" />
<!-- Header End -->

<div class="container">
    <div class="page__hd">
        <div id="logopic"></div>
        <div id="introduce">
            <h3>湖南农业大学欢迎你</h3>
            <p>湘农青年&nbsp;校园服务</p>
        </div>
    </div>
    <br>
    <div class="page__bd" style="background-color: #fff;">
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">卡号</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="number" pattern="[0-9]*" placeholder="请输入卡号">
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd"><label for="" class="weui-label">开始日期</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="date" value="">
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd"><label for="" class="weui-label">结束日期</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="date" value="">
            </div>
        </div>
        <div class="weui-cell weui-cell_select weui-cell_select-after">
            <div class="weui-cell__hd">
                <label for="" class="weui-label">交易类型</label>
            </div>
            <div class="weui-cell__bd">
                <select class="weui-select" name="select2">
                    <option value="1">中国</option>
                    <option value="2">美国</option>
                    <option value="3">英国</option>
                </select>
            </div>
        </div>
        <br>
        <a href="javascript:;" class="weui-btn weui-btn_primary">查询</a>
    </div>



<!-- Footer start -->
    <include file="Public/Footer" />
<!-- Footer end -->