<!-- header start -->
<include file="Public/Header" />
<!-- header end -->

<div class="container">
    <div class="page__hd">
        <div id="logopic"></div>
        <div id="introduce">
            <h3>湖南农业大学欢迎你</h3>
            <p>湘农青年&nbsp;校园服务</p>
        </div>
    </div>
    <div class="page__bd">
        <div class="weui-flex">
            <div class="weui-flex__item"><div class="placeholder">姓名</div></div>
            <div class="weui-flex__item"><div class="placeholder">月份</div></div>
            <div class="weui-flex__item">
                <div class="placeholder">
                    <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_default" id="showPicker">第几周</a>
                </div>
            </div>
        </div>
    </div>

    <table class="am-table am-table-bordered am-table-striped am-table-centered" id="show_kb" style="width: 100%"></table>




    <script type="text/javascript" src="__PUBLIC__/Js/weui.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/JS/function/personkb.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/weui.min.js"></script>
<!-- footer start -->
<include file="Public/Footer" />
<!-- footer end -->