<!-- header start -->
<include file="Public/Header" />
<!-- header end -->
<div>
    <div class="page__hd">
        <div id="logopic"></div>
        <div id="introduce">
            <h3>湖南农业大学欢迎你</h3>
            <p>湘农青年&nbsp;校园服务</p>
        </div>
    </div>

    <div class="page__bd">
        <div class="bd__header">
            <h3>学生成绩查询</h3>
        </div>
    </div>

    <div class="weui-cell weui-cell_select weui-cell_select-after">
            <div class="weui-cell__hd">
                <label for="" class="weui-label">学年</label>
            </div>
            <div class="weui-cell__bd">
                <select class="weui-select" name="select2">
                    <option value="1">2014-2015</option>
                    <option value="2">2015-2016</option>
                    <option value="3">2016-2017</option>
                </select>
            </div>
    </div>
    <div class="weui-cell weui-cell_select weui-cell_select-after">
            <div class="weui-cell__hd">
                <label for="" class="weui-label">学期</label>
            </div>
            <div class="weui-cell__bd">
                <select class="weui-select" name="select2">
                    <option value="1">春季</option>
                    <option value="2">秋季</option>
                </select>
            </div>
    </div>

    <div class="weui-btn-area">
        <a class="weui-btn weui-btn_primary" href="javascript:" id="showTooltips">确定</a>
    </div>

    <!-- <table class="table table-striped">
        <caption><h2>{$data['rList'][0]['XM']} : {$data['rList'][0]['XH']}</h2></caption>
        <foreach name='data.rList' item='v'>
            <tr>
                <td colspan="2">学年</td>
                <td>{$v.XN}</td>
                <td>学期</td>
                <td colspan="2">{$v.XQ}</td>
            </tr>
            <tr>
                <td colspan="3">课程名</td>
                <td colspan="3">{$v.KCMC}</td>
            </tr>
            <tr>
                <td>成绩</td>
                <td>{$v.CJ}</td>
                <td>学分</td>
                <td>{$v.XF}</td>
                <td>课程性质</td>
                <td>{$v.KCXZ}</td>
            </tr>
        </foreach>
        <thead>
        <tr>
            <th>名称</th>
            <th>城市</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Tanmay</td>
            <td>Bangalore</td>
        </tr>
        <tr>
            <td>Sachin</td>
            <td>Mumbai</td>
        </tr>
        </tbody>
    
    </table> -->


<!-- header start -->
<include file="Public/Footer" />
<!-- header end -->